<div class="container">
  <div class="navbar">
    <!-- Navbar -->
    <nav>
      <div class="navbar-item">
        <a class="navbar-brand">PokeGuesser</a>
      </div>
    </nav>
  </div>

  <!-- content -->
  <div class="content">
    <h4>Guess that Pokemon!</h4>
    <img class="pokemon-img" [src]="sprite">
    <input [value]="guess" #myinput myInputField type="text" class="guess-input" (keyup.enter)="guessPoke(poke)" (keyup)="onKey($event)" placeholder="pikachu" autofocus cdkTrapFocus>
    <div class="button-group">
      <div class="play-again-button">
        <button class="btn tertiary" id="playAgainBtn" (click)="fetchPoke()">New</button>
      </div>
      <div class="check-answer-button">
        <button class="btn" id="checkAnswerBtn" (click)="guessPoke(poke)">
          {{ guessed ? "Checked" : "Check" }}
        </button>
      </div>
    </div>
    <p>{{ guessed ? (correct ? ("Correct - " + poke) : ("Incorrect - " + poke)) : "" }}</p>
  </div>
</div>
